html, body {
  display: flex;
  justify-content: center;
}

#container {
  width: 70vw;
  height: 60vh;
  background-color: lightgray;
  justify-content: center;
  padding: 20px;
}

#OptTitle {
  text-align: center;
}

#NGListHeader {
  font-size: 1.3em;
  border-bottom: 0.25px solid gray;
  background-color: silver;
  padding-left: 0.5em;
}

#nglist {
  width: 100%;
  height: 50%;
}

#NGListDescContainer {
  margin-top: 3%;
  font-size: 1.1em;
}

code {
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 0.5em;
}

#code-opts {
  display: flex;
  justify-content: center;
}